.about {
  position: absolute;
  box-sizing: border-box;
  max-width: 1180px;
  min-height: 692px;
  top: 2538px;
  left: 130px;
  right: 130px;
  margin-bottom: 100px;
}

.about__title {
  position: relative;
  box-sizing: border-box;
  left: 100px;
  width: 980px;
  height: 56px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}

.about__image {
  position: absolute;
  box-sizing: border-box;
  top: 96px;
  left: 0;
  margin-right: 80px;
}

.about__paragraphs {
  position:absolute; 
  box-sizing: border-box;
  max-width: 500px;
  min-height: 222px;
  right: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 48px;
}

.first-paragraph {
  margin-bottom: 28px;
}

.about__blockquote {
  position: absolute;
  box-sizing: border-box;
  width: 500px;
  min-height: 325px;
  left: 680px;
  bottom: 1px;
  margin: 0;
}

.quote__paragraph {
  position: absolute;
  box-sizing: border-box;
  max-width: 469px;
  min-height: 191px;
  top: 8px;
  left: 55px;
  margin: 0;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
}

.about__blockquote::after {
  content:"“";
  box-sizing: border-box;
  position: absolute;
  width: 38.98px;
  height: 34.41px;
  color: rgb(108, 2, 135);
  font-size: 44px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
}


.quote__paragraph::after {
  content:" ”";
  box-sizing: border-box;
  position: absolute;
  color: rgb(108, 2, 135);
  font-size: 44px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
  white-space: pre;
}


.quote__epigraph {
  position: absolute;
  box-sizing: border-box;
  width: 279.28px;
  height: 84px;
  bottom: 0;
  right: 0;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}

.quote__img {
  position: absolute;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  left: 111px;
  bottom: 2px;
}