.article__h1 {
  position: absolute;
  margin: 0%;
  width: 870px;
  height: 65px;
  left: 75px;
  right: 975px;
  top: 80px;
  bottom: 1531px;
  color: rgb(45, 45, 45);
  font-family: Lato;
  font-size: 50px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0;
  text-align: left;
}

.article__paragraphs {
  position: absolute;
  width: 1770px;
  height: 218px;
  left: 75px;
  right: 75px;
  top: 185px;
  bottom: 1273px;
  color: rgb(45, 45, 45);
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  text-align: left;
}